<header class="jumbotron">
  <h1  class="text-center">
    CaelumPic
  </h1>
</header>
<main class="container">
  <div class="row col-md-12 mb-4">
    <a routerLink="/cadastro" class="btn btn-primary">Nova Foto</a>
  </div>
  <div class="row">
    <!--*ngFor é um  loop, é uma diretiva do angular-->
    <card *ngFor="let foto of listaFotos" [foto]="foto" class=" col-sm-4 col-lg-2 mb-4">
      <a [routerLink]="['/cadastro', foto._id]" class="foto">
        <foto [url]="foto.url" [titulo]="foto.titulo"></foto>
      </a>
      <button (click)="deletar(foto)" class="btn btn-danger">Apagar</button>
    </card>
  </div>
</main>